<%= @user.advisor_first_name %> <%= @user.advisor_last_name %>,

<p>WELCOME ABOARD!</p>

<p>We have received your agreement and your copy is below.</p>

Your Manager is:
<ul>
 <% if @user.group == "cc" %>
    Chris Cunningham<br>chris@aspirepartners.co<br>(800) 410-0233 Ext 500<br>Mobile (910) 528-1421
  <%elsif @user.group == "rs" %>
    Robert Sawyer<br>robert.sawyer@aspirepartners.co<br>(518) 424-8148
  <% elsif @user.group == "ne" %>
    Neil Evans<br>neil.evans@aspirepartners.co<br>(323) 309-7225
  <% elsif @user.group == "ls" %>
    Laura Sardilli<br>laura.sardilli@aspirepartners.co<br>(703) 628-5816
  <% elsif @user.group == "ac" %>
    Andy Charles<br>andy.charles@aspirepartners.co<br>(207)749-2631
  <% elsif @user.group == "se" %>
    Stephanie Elad<br>stephanie.elad@aspirepartners.co<br>(972) 402-5400             	  
  <% elsif @user.group == "cn" %>
    Chris Napier<br>chris.napier@aspirepartners.co<br>(717) 645-2413
  <% elsif @user.group == "ajrc" %>
    Alan Callaghan<br>alan.callaghan@aspirepartners.co<br>(954) 614-6211
  <% elsif @user.group == "tz" %>
    Terri Zielonko<br>terri.zielonko@aspirepartners.co<br>(618) 304-3430            	  
  <% elsif @user.group == "td" %>
    Thomas DePaola<br>thomas.depaola@aspirepartners.co<br>(908) 337-0029
  <% else %>
  	 'You do not have an assigned manager.  Please contact admin for manager assignment: admin@aspirepartners.co'%>
  <% end %>
</ul>

<p>To get started, please:</p>

<ol>
  <li>Follow-up with your manager to discuss next steps to get started.</li>
  <li>Take a look around the resource center and review training videos.</li>
  <li>Register for the next training webinar and review previously recorded webinars.</li>
</ol>

<p>Thanks,<br>
<br>
<strong>Aspire Partners</strong></p>

<hr>   

<p align="center"><strong>AGENT AGREEMENT</strong></p>

<p align="justify">THIS INDEPENDENT AGENT AGREEMENT (the “Agreement”) is entered into effective as of this day (the “Effective Date”) by and between HAC Enterprises LLC, doing business as Aspire Partners herein referred to as “ASPIRE", and Contractor, herein referred to as “AGENT”.&nbsp; ASPIRE and AGENT shall be referred to individually as a “Party” or collectively as the “Parties”.</p>

<p align="justify">WHEREAS, AGENT desires to refer organizations (“End Users”) that will utilize the services sold by Aspire. A “referral” is where AGENT, at a minimum, coordinates the initial sales meeting and personally introduces the potential End Users to Aspire after having familiarized the Services to the same potential End User beforehand.&nbsp; ASPIRE and its partners shall verify that the&nbsp; referred organization has not otherwise been referred, and is eligible to become a referral of AGENT, which Aspire and its partners shall have complete and final determination; and</p>

<p align="justify">NOW, THEREFORE, in consideration of the mutual covenants and agreements set forth in this Agreement, the Parties hereby agree as follows:</p>

<ol>
  <li>
    <div align="justify">
      Payment of Compensation. As compensation for Referred End Users, Aspire shall pay AGENT in accordance with the Compensation Addendum. Compensation is subject to change, with notice, due to market conditions such as: change in Visa MasterCard interchange rates and policies, and government regulations.&nbsp; Aspire shall provide AGENT with a monthly compensation report and Aspire shall pay AGENT each month, no more than 60 days after the month has ended.&nbsp; Compensation payable to AGENT shall be paid until the Referred End User stops utilizing the service(s).
    </div>
  </li>

  <li>
    <div align="justify">
      Term and Termination.&nbsp;&nbsp; This Agreement shall commence and become effective on the Effective Date and shall continue for twenty-four (24) months (the “Initial Term”). The Initial Term shall automatically renew for an unlimited number of one (1) year renewal terms (each, a “Renewal Term”) unless one party provides the other with written notice of its intent to non-renew.&nbsp; Each Party shall have the right to terminate this Agreement at any time by giving thirty (30) days prior notice to the other Party.
    </div>
  </li>

  <li>
    <div align="justify">
      Mutual Indemnity. Each Party shall indemnify, defend and hold harmless the other Party from and against all liabilities, costs and expenses (including reasonable attorneys’ fees) incurred by the Indemnified Party that arise out of any claim, demand, suit, action, or proceeding brought by a third party that involves, relates to or concerns a violation or other breach by the Indemnifying Party of any of the provisions of this Agreement, or the negligence or willful misconduct of the Indemnifying Party.
    </div>
  </li>

  <li>
    <div align="justify">
      Confidentiality.&nbsp;&nbsp; AGENT shall hold the ASPIRE's business and trade secrets, including client lists, marketing and sales strategies, pricing, and other information that could be useful to a competitor, on in strict confidence.&nbsp; The Parties’ obligations set forth herein shall remain in effect during the Term of the Agreement and for five (5) years thereafter, but such obligation of confidentiality will not expire for Confidential Information considered or deemed to be a trade secret under applicable law.
    </div>
  </li>

  <li>
    <div align="justify">
      Restrictive Covenants.&nbsp; During the Term of this Agreement and for a period of two (2) years after the termination of this Agreement, AGENT shall not directly or indirectly:</div>

    <ol type="a">
      <li>
        <div align="justify">
          solicit, hire or otherwise cause any employee or independent contractor of Aspire to leave his or her employment or engagement with Aspire.
        </div>
      </li>

      <li>
        <div align="justify">
          take any action to solicit, clients or customers of ASPIRE and its partners.
        </div>
      </li>

      <li>
        <div align="justify">
          own, operate, or hold any position for a Competing Enterprise or engage in any activities for a Competing Enterprise as an employee, contractor, or consultant.
        </div>
      </li>

      <li>
        <div align="justify">
          make, any statement or other communication to any third party which impugns or attacks, or is otherwise critical of, the reputation, business or character of Aspire or any of its affiliates, or any of its respective directors, officers, representatives, agents or employees.
        </div>
      </li>
    </ol>
  </li>

  <li>
    <div align="justify">
      Breach.&nbsp; AGENT acknowledges that the unauthorized use or disclosure of confidential information, or that a breach of any of the restrictive covenants may cause Aspire irreparable harm that could not be compensated by monetary damages. Accordingly, AGENT agrees that Aspire will be entitled to seek injunctive and preliminary relief to remedy any actual or threatened unauthorized use or disclosure of such information, and/or to specific performance or any other equitable remedy available without the requirement of posting a bond or other security. Any such equitable relief shall be in addition to and not in lieu of any other relief to which Aspire may be entitled.&nbsp; In the event of breach, ASPIRE may be released from its obligations and liabilities under this agreement.
    </div>
  </li>

  <li>
    <div align="justify">
      Miscellaneous Provisions
    </div>

    <ol type="a">
      <li>
        <div align="justify">
          Notices. Any and all notices, elections, offers, acceptances, and demands permitted or required to be made under this Agreement shall be in writing, and sent by registered or certified mail, to the other party. For ASPIRE address to HAC Enterprises LLC, 1001 Cambridge Square, Alpharetta, GA 30009, Attention: Alan Briskin.
        </div>
      </li>

      <li>
        <div align="justify">
          Costs and Expenses. Unless otherwise provided in this Agreement, each Party shall bear all fees and expenses incurred in performing its obligations under this Agreement.
        </div>
      </li>

      <li>
        <div align="justify">
          Independent Contractor. AGENT shall perform all work in connection with this Agreement as an independent contractor and not as an employee of Aspire.
        </div>
      </li>

      <li>
        <div align="justify">
          Non-Exclusive. Nothing in this Agreement shall prohibit Aspire from engaging with other individuals, representatives, organizations, or entities, of any kind.
        </div>
      </li>

      <li>
        <div align="justify">
          Governing Law, Jurisdiction, etc. This Agreement shall be governed by and construed in accordance with, the laws of the State of Georgia. Venue shall be the federal or state courts in Georgia.</div>
      </li>
      
      <li>
        <div align="justify">              
          The terms and conditions of this agreement are subject to change with 60 days notice.
        </div>
      </li>              
      
    </ol>
  </li>
</ol>

<p align="justify">The parties acknowledge that by clicking "I Agree" the parties have executed this Agreement as of this day.</p>

<p align="center"><strong>EXHIBIT A&nbsp; - COMPENSATION ADDENDUM</strong></p>
<p><strong>I.&nbsp;&nbsp; Commercial Payments</strong></p>
<p align="justify">Aspire's Partner provides Commercial Payment Services that reduce an organizations AP operating expenses, saving them time and money, and generates revenue when paying their suppliers and vendors. Aspire shall pay AGENT a “Revenue Share” based on the aggregate volume of Referred End Users’ Accounts Payable spend through Virtual Card Payments.<br>
<br>
Standard Transactions are defined as Visa and MasterCard Corporate Standard or Corporate Data Rate I. For all Standard Transactions for End Users, Aspire shall pay AGENT a Revenue Share of .10% (10 BPS) for each such transaction where client is paid no more than 1.5% (150 BPS). This amount would be reduced in the event that a client is to be paid more than 1.5% (150 BPS).<br>
<br>Non-Standard Transactions include, but are not limited to, Enhanced Data transactions, Large Ticket transactions, foreign transactions. For all transactions for End Users that do not qualify as Standard Transactions (“Non-Standard Transactions”), Aspire shall pay AGENT a Revenue Share of .05% (5 BPS) for each such transaction.</p>
      
      