<%= @user.advisor_first_name %>,

<p>WELCOME ABOARD!</p>

<p>We have received your agreement and your copy is below.</p>

<p>To get started, please:<br>
<br>
Get back to your manager to discuss next steps to get started.<br>
<br>
Take a look around the resource center.<br>
<br>
Register for the next training webinar and review previously recorded webinars.<br>
<br>
Please register for the next live "Welcome to Aspire Opportunity Webinar with Q&A"<br>
<br>
<br>
<strong>Aspire Partners</strong>