<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-gray">
	  <div class="panel-heading">
			<h4>Send Email Message to Your Entire Downline</h4>
	  </div>
	  <div class="prospect-show">

        <%= form_tag group_message_path, method: :post do %>
        <div class='form-group'>
          <strong>Subject:</strong><br>
          <%= text_field_tag 'subject', '', class: 'form-control'%>

          <strong>Body:</strong><br>
          <%= cktext_area :body, '', cols: 40, name: 'body', ckeditor: { toolbar: 'mini' } %>
        </div>
    </div>
    <div class="panel-footer">
      <div class="form-actions">
        <%= submit_tag "submit",:value => "submit", class:"btn btn-slate btn-block" %>
      </div>
      <% end %>

    </div>
  </div>
</div>