<div class="container pages">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p><em>Updated on 5/20/19 - Watch for updates</em></p>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Training Videos</h3>
    </div>
  </div>

    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9 clearfix">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/352819470" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p>&nbsp;</p>
    </div> 
    
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9 clearfix">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/351297984" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p>&nbsp;</p>
    </div> 
    
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9 clearfix">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/350208795" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p>&nbsp;</p>
    </div> 

    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9 clearfix">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/342380630" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p>&nbsp;</p>
    </div> 

    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9 clearfix">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/337396254" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p>&nbsp;</p>
    </div> 

    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9 clearfix">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/337346213" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p>&nbsp;</p>
    </div>
    
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9 clearfix">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/337349065" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p>&nbsp;</p>
    </div> 


  <p>&nbsp;</p>

</div>