<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>&nbsp;</p>
      <h4>Email after Scheduling Meetings with the Zero Rejection Phone Script for Virtual Cards</h4>
      <p>&nbsp;</p>
      
      <p>Hi (name),</p>
      
      <p>It was great speaking with you today.</p>
      
      <p>I look forward to sharing with you, how we've been helping AP departments to save both time and money, and to generate additional revenue, each time they pay their suppliers.<p>
          
      <p>This 2-minute video will give you an overview of what we do <a href="http://www.Accounts-Payable.co">http://www.Accounts-Payable.co</a></p>
      
      <p>You may find this article on Forbes <a href="https://www.forbes.com/sites/agoodman/2017/03/07/new-virtual-credit-cards-for-businesses-eliminating-the-need-for-checks">New Virtual Credit Cards for Businesses Eliminating the Need for Checks"</a> to be interesting as well.</p>
      
      <p>As we discussed, I'll be calling you on (day) (date) at (time) for a quick 15-minute call to share how we turn the manually intensive operating expense of AP into an automated process that actually generates revenue for your organization.</p>
      
      <p>I'll send you a calendar invite which will also include a screen share link so that you can view my screen.</p>
      
      <p>Thanks,</p>
      
      <p>Your Name<br>
      Aspire Partners</p>
    </div>
  </div>
</div>


