<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
 
 
 <h3>Accounts Payable Email Sequence</h3>

<p>We have put together emails that can be used with the Accounts Payable Automation and Virtual Card payment campaign on Cliently &amp; Growbots.&nbsp; You can use these emails, in the order suggested, or mix them up, add to it etc.</p>

<p>Please let us know which emails (from below or your own) are giving you the most success.</p>

<p>Be sure to change the name, phone number and contact info to your own.</p><p><br></p>

<p><strong>Subject Lines</strong></p>

<p>we have found that using the words "accounts payable" (without the quotes) in lowercase tends to work the best because if the contact is involved in accounts payable, they will tend to open your email.&nbsp; If they are not involved in accounts payable, we really do not care if they open the email.</p>

<p>It is possible to increase opens by tricking the recipient into opening the email however we have found that those recipients mark the emails as spam, which may get your email shut down by your email service provider (Google or Microsoft).</p>

<p>For the first email in the sequence, you would use "accounts payable" as the subject line and for all subsequent emails in the sequence, you would use "RE: accounts payable" as the subject line.</p>

<p><br><strong>Pro Tips</strong></p>

<p>Be proactive to maximize your results...</p>

<ul>
  <li>Pick up the phone and your call leads.&nbsp; Call those who have opened your emails the same day.<br>
  <br></li>

  <li>Send a LinkedIn connection request to those who have opened your email.&nbsp; Once they accept, give them a call or send them an email thanking them for accepting your connection request... etc.<br></li>
</ul>
 
<hr>

<p align="center"><strong>Email 1</strong></p>

<p>{First Name},</p>

<p>Checks are the most expensive way to pay suppliers, yet most organizations are paying 70% of their accounts payable invoices by check.</p>

<p>I would love to speak with you about a strategy that could, not only eliminate up to 50% of your checks, but actually turn Accounts Payable into a profitable department at {{CompanyName}}.</p>

<p>Do you have 10 minutes some time over the next week?</p>

<p>Thanks,</p>

<p>My Name</p>

<p>My Company Name<br>
(555) 555-5555<br>
MyEmail@mywebsitedomain.<br>
<a href="http://www.MyWebsiteDomain">www.MyWebsiteDomain</a><br>
My Company Website<br>
My Address</p>

<p><em>This email and any attachments contain information, which may be confidential and/or privileged. The information is intended to be for the use of the individual or entity named on this email. If you are not the intended recipient, be aware that any disclosure, copying, distribution or use of the contents of this email is prohibited. If you received this e-mail in error, please delete it and notify the sender by return e-mail or telephone.</em></p>

<p><em>P.S. Not the person to talk to? Let me know! Don’t want me to follow-up with you? You can let me know that too!</em></p>

<p align="center"><strong><br></strong></p>

<p align="center"><strong>Email 2</strong></p>

<p>{First Name},</p>

<p>Up until now, the cost of operating {{CompanyName}}’s accounts payable function has been a necessary expense, after all, no one could expect the department that is responsible for making payments to also generate revenue, that is, up until now.&nbsp; Hope you're doing great! Would love to catch up with you when you have a few minutes. In the meantime, this 1.5 minute video will show you a little more about how we can turn the Accounts Payable department into a revenue generator for&nbsp;<span style="background-color: rgb(250, 250, 250);">{Company Name}</span>.&nbsp;<a href="https://player.vimeo.com/video/272852660">https://player.vimeo.com/video/272852660</a></p>

<p>My Name<br>
(555) 555-5555</p>

<p>Calendar scheduling link</p>

<p>------------------------------</p>

<p>Include forward of previous email</p>

<p align="center"><strong><br></strong></p>

<p align="center"><strong>Email 3</strong></p>

<p>{First Name},</p>

<p>A recent study, sponsored by the American Institute of CPAs, found that "the average billion-dollar company handles 12,500 invoices per accounts payable employee annually, at a cost of $3.55 per invoice, while companies with world-class finance departments spend approximately $0.35 per invoice".</p>

<p>I would love to share a few ideas on how we can help {Company Name} to greatly reduce, if not eliminate, your per invoice expense. What would be the best number and time to call you?</p>

<p>Thanks,</p>

<p>My Name<br>
(555) 555-5555</p>

<p>Calendar scheduling link</p>

<p>------------------------------</p>

<p>Include forward of previous email</p>

<p align="center"><strong><br></strong></p>

<p align="center"><strong>Email 4</strong></p>

<p>{{.FirstName}},</p>

<p>Virtual Payments streamline your current Accounts Payable procedures, and not only saves time and money, but also pays {{.CompanyName}} revenue for each transaction.</p>

<p>Check out this article on Forbes “New Virtual Credit Cards for Businesses Eliminating the Need for Checks”</p>

<p>We should talk.&nbsp; When would be the best time for me to call you?</p>

<p>My Name</p>

<p>(555) 555-5555</p>

<p>Calendar scheduling link</p>

<p>------------------------------</p>

<p>Include forward of previous email</p>

<p align="center"><strong><br></strong></p>

<p align="center"><strong>Email 5</strong></p>

<p>{{.FirstName}},</p>

<p>I wanted to follow up on my email from a few days ago and see if you might have a few minutes, sometime over the next week?</p>

<p>My Name</p>

<p>(555) 555-5555</p>

<p>Calendar scheduling link</p>

<p>------------------------------</p>

<p>Include forward of previous email</p>

<p align="center"><strong><br></strong></p>

<p align="center"><strong>Email 6</strong></p>

<p>{First Name},</p>

<p>You must be busy. I had been trying to reach you to share how we've been turning Accounts Payable into a revenue generating department. When would be the best time and number for me to give you a quick call?</p>

<p>My Name</p>

<p>(555) 555-5555</p>

<p>Calendar scheduling link</p>

<p>------------------------------</p>

<p>Include forward of previous email</p>

<div align="left"></div>
 
 
 
 
 
 
    </div>
  </div>
</div>


