<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>&nbsp;</p>
      <h4>Zero Rejection Phone Script - Schedule Virtual Meetings for Virtual Cards</h4>
      
      <p><em>With this script, you are first asking for permission to email information, <em>which is a small ask,&nbsp;</em>then you are educating on what you do by discussing what will be covered in the email, and finally you are scheduling a meeting.&nbsp;</em></p>
      
      <hr>
      
      <p>(first name &amp; last name), thank you.</p>
      
      <p>(Not in/Available)&nbsp; Who besides {first name} would I need to speak to regarding your Accounts Payable? &nbsp;Maybe your CFO or Controller?</p>
      
      <p>(Who’s calling?)&nbsp;&nbsp; {your full name}&nbsp;</p>
      
      <p><em>(Don’t give your company name, or what you are calling about, unless the receptionist specifically asks)</em></p>
      
      <p>(What's this about?)&nbsp;&nbsp; &nbsp;Your Accounts Payable.</p>
      
      <p>(What about accounts payable?)&nbsp;&nbsp;&nbsp; Some money you MAY have coming back.</p>
      
      <hr>
      
      <p>I was calling because, I was looking to email you over some information about how our Virtual Card Payments have helped businesses to REDUCE their Accounts Payable operation’s expense and generate revenue each time they pay their suppliers.</p>
      
      <p>What’s your email address (NAME)?</p>
      
      <p>I have your name as (first and last name), is that right?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (or, how would I spell your name?)</p>
      
      <p>What’s your title there (first name)</p>
      
      <p>In the email they’ll be a link to a short video about how we help AP departments to save both time and money, while helping them to generate additional revenue, each time they pay their suppliers.</p>
      
      <p>I’ll also include a link to a Forbes article about how Virtual Payments are eliminating the need for checks,</p>
      
      <p>I'd like to give you a quick CALL, after you have had a chance to review it, will you be available on (day morning/afternoon)?</p>
      
      <p>Ok, how’s (specific time)?</p>
      
      <p>Great, I’m going to send you instructions to join an online screenshare, this way we can show you, rather than just telling you.&nbsp; It won’t take more than 15 minutes.</p>
      
      <p>What’s your extension over there, or do you have a direct line?</p>
      
      <p>Ok, I’ve got you down for a quick 15-minute presentation on (day) at (time), and I’ll get this emailed over to you now.</p>
      
      <p>Have a great day and we’ll talk with you soon.</p>
      
      <hr>
      
      <p><strong>Not Interested</strong></p>
      
      <p>I can promise you this, whether you decide to utilize our services, or work with another group, you're going to learn a lot in just a few minutes, that will take your AP dept from a necessary expense, to a revenue generating department, without changing your banking relationships and without changing your accounting software.</p>
      
      <p>Will you be available on (day) at (time)?</p>
      
      
      <p><strong>What is this all about?</strong></p>
      
      <p>(first name) are you familiar with Virtual Payments for paying suppliers already?</p>
      
      <p>Well, virtual card payments are the new, and amazing, payment alternative for paying suppliers.&nbsp;</p>
      
      <p>It's cheaper than producing and mailing out physical checks, or using ACH, and it actually gives you cash back when you pay your vendors.&nbsp; All without changing banks, or changing accounting software.</p>
      
      <p>Will you be available on (day) at (time)?</p>

    </div>
  </div>
</div>


