<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p><em>Updated on 8/15/19 - Watch for updates</em></p>
      <p>&nbsp;</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4><strong>Frequently Asked Questions</strong></h3>
      <p>&nbsp;</p>

       <p><strong><font color="#333333" face="Helvetica, sans-serif">Which organizations qualify for the Priority Commercial Payments program?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Any organization that has over $10M+ annually in Accounts Payable.  There is no maximum.</font><br>
      <br></p>
      
       <p><strong><font color="#333333" face="Helvetica, sans-serif">Might my suppliers raise my prices to cover the credit card processing fee?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Not very likely. If the suppliers have that intention they will tell the enrollment specialist that they intend to include a surcharge in return for acceptance. At that point, the enrollment specialist will notate the lead and mark this as Lost. This happens approximately 5% of the time.  With that said, there are times that suppliers will rescind their enrollment at a later date due to cost concerns.</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">What is the difference between Standard Interchange vs. Non-Standard Interchange?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Standard:</font><font color="#333333" face="Helvetica, sans-serif">&nbsp;Typically more than 70% of transactions will be Standard Interchange. This is where you, and the client get paid the full basis points on the transaction.</font></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Non-Standard:&nbsp;A transaction where the supplier submits&nbsp;additional information in order to qualify for a cheaper rate. Supplier must be setup to take credit card payments in this way through their Merchant Acquirer. Interchange is lower on these transactions and therefore both you and the client are paid less on these transactions.</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">How do virtual cards translate into capturing lost revenue for my organization?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Your organization may capture revenue each time you pay one of your vendors with a virtual credit card. With each transaction, your suppliers pay a small fee in exchange for the benefits of accepting credit cards.</font></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Each time your organization utilizes a virtual card-based platform, you capture the lion’s share of those fees back in the form of a quarterly payment. Many of your vendors accept virtual cards today. If you’re paying via check/ACH, that’s revenue lost for your organization every month..</font></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Every $10 million converted to Virtual Card Payments allows an organization to capture up to and over $100,000 in rebates that would otherwise have been lost.</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">Doesn’t my bank offer virtual payments?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Some banks do and some don’t. Those that do tend to have less success with vendor enrollment than does an organization dedicated to virtual payment programs. As a result, organizations tend to have to do more work and see less success related to vendor enrollment when using their bank as a virtual payment provider. Additionally, many organizations like the flexibility of not tying virtual payments to one particular bank.</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">How much will it cost for me to get started?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Absolutely nothing. This program costs nothing for you to implement, not at the outset, and not at any point during your participation with it.</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">How much does accepting virtual card payments cost my supplier?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">It varies by supplier, with average fees ranging from 1.5% to 3% (comparable to those assessed by credit card companies to vendors). But accepting cards also has benefits to your supplier. Virtual cards payments allow suppliers to provide their customers with a greater level of service and convenience.&nbsp; Additionally, virtual cards are easier and cheaper to process than other forms of payment, and provide both buyer and supplier with greatly enhanced payment security.&nbsp;</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">What if some of my suppliers/vendors won’t accept virtual payments?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Suppliers will accept Virtual Cards as a form of payment based upon the value proposition set forth by the Buyer. A strong value proposition would include a strong endorsement for Virtual Card being their preferred method of payment, the potential of accelerating payment, as well as a further automation of the payment. With these factors present in the value proposition, we will typically see Card acceptance rates between 30%-40% of targeted leads.</font><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">For those suppliers targeted that decline accepting card as a form of payment, Priority will offer an alternative solution with reduced cost while still providing automation. This comes in the form of their ACH+ (flat fee) or Dynamic Discounting solutions. This can provide incremental acceptance between 10%-20%.</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">What if a vendor isn’t able to take credit cards?</font></strong></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">For your suppliers that do not currently have the ability to process credit card transactions, as one of the largest merchant acquirers in the U.S., Priority has the ability to set them up to accept Card as a form of payment. They can do so with the traditional Virtual Card solution or establish the supplier as a Buyer Initiated Payments (BIP) acceptor. The BIP process bring added automation to the Buyer by allowing Priority to process the transaction on their behalf and then forwarding the remittance advice for settlement.</font></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Push pay allows you to pay vendors that are unable to accept card payments with a card transaction that acts like an ACH. To you and your AP team, there is no difference in the process; for your vendors, the process is simple and requires no changes for them.</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">How does virtual card work with my accounting system or ERP?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Your accounting system already generates payment files. Virtual card technology simply directs these payment files to ride on the Visa Card system. There are only two requirements for this to work:</font><br></p>
      
      <p><font color="#333333">1.<font style="font-size: 9px;" face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></font> <font color="#333333" face="Helvetica, sans-serif">Your accounting system must be able to produce a payment file with the Merchant/Supplier ID, Invoice Number, Invoice Date and Invoice Amount.</font><br></p>
      
      <p><font color="#333333">2.<font style="font-size: 9px;" face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></font> <font color="#333333" face="Helvetica, sans-serif">You must be able to identify vendors as having a payment method that is unique from your current forms of payment. So if you now “flag” vendors as being paid via check or ACH, you must flag vendors that are paid via virtual card as “other,” or “card,” or some other identifier.</font><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">With over $40 billion in payments already processed via payment card each year, just about every accounting system is able to support these two basic requirements.</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">How long does it usually take to get up and running with a program like this?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">It usually takes between 6-8 weeks to get an organization up and running. All that’s needed to get started is a supplier list (supplier name, address, point of contact, annual AP spend) and the payment file addressed in the question above. Once those two requirements are met, some basic account setup finalizes implementation, and then the vendor enrollment process begins.</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">Isn’t this too good to be true?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">We get this question a lot. And, honestly, we understand. When’s the last time you really got anything for free, much less thousands of dollars in rebates?</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">What's the difference between using a Rewards Credit Card and Virtual Card Payments?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Virtual Card Payments are made through the organization’s existing accounting software and remittance is sent to the supplier with the payment.&nbsp; If they have 500 suppliers being paid through Virtual Cards, they are all paid at the same time, with no manual effort.&nbsp; Virtual Cards use single-use Visa card numbers so suppliers cannot run them again, and cannot be ran for more than the amount that is being paid.</font><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Credit cards require providing the card numbers manually, reconciling credit card statements, and having to cancel cards and get a new number every time fraudulent activity occurs, which could be often if paying 500 suppliers with the same card.</font><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Virtual Card Payments save the Accounts Payable departments both time and money, are more secure than Check, ACH, or Credit Card payments, and provide a rebate.</font><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">Credit Cards are best for one-time purchases where a physical card is needed and not suitable for Accounts Payable.&nbsp;</font><br>
      <br></p>
      
      <p><strong><font color="#333333" face="Helvetica, sans-serif">What is a P Card?</font></strong><br></p>
      
      <p><font color="#333333" face="Helvetica, sans-serif">A "P Card", or "Purchase Card", is typically issued to employees to be used for expenses such as employee travel expenses or office supplies, not for making supplier payments. Some "P Cards" do pay rebates or cash back but their used for on the spot, immediate payments, not for making supplier payments from invoices.</font></p>
      
    </div>
  </div>

</div>