
  <div class="container pages">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p><em>Updated on 7/24/19 - Watch for updates</em></p>    
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h3>My Manager</h3>
        <p><%= render html: my_manager.html_safe %></p>
      </div>
      
      <div class="col-md-5">
        <h3>Accounts Payable Campaign Parameters</h3>
        <p><strong>$10M Minimum AP Spend</strong>  Target C-level & Director level Finance Execs (CFO, Controller, AP Director, etc.) at organizations with $50M+ in Revenue or 200+ Employees.</p>
      </div>
    </div>

    <p>&nbsp;</p>
        
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>Two Sentence Elevator Pitch</h3>
        <p>We help organizations like yours to reduce their Accounts Payable operating costs, by automating 100% of your AP, with multiple forms of electronic payments, paying all suppliers from a single payment file.  Suppliers choose how they want to be paid, and your organization earns revenue when making the payments.</p>
      </div>
    </div>

    <p>&nbsp;</p>
    
    <div class="row">
      <div class="col-md-5 col-md-offset-1">

        <h3>Sales Tools</h3>
        <ul>
          <li><a href="http://aspirepartners.co/crm_docs/high_level_intro_presentation.pptx">High Level Intro Presentation PPT</a> <em>(with script in presenter notes)</em></li>
          <li><a href="http://aspirepartners.co/crm_docs/High_Level_Intro_Presentation_Script.docx">High Level Intro Presentation SCRIPT</a></li>
          <li><a href="http://aspirepartners.co/crm_docs/CPX-TheCompleteCommercialPaymentsSolution.pdf" target="_New">CPX - Complete Commercial Payments Solution BROCHURE</a></li>
        </ul>
      </div>
      
      <div class="col-md-5">
        <h3>Schedule Presentation</h3>
        <ul>
          <%= render html: calendly_link.html_safe %>
        </ul>
      </div>
    
    </div>
    
    <p>&nbsp;</p>
 

  </div>