<div class="container pages">
  <!--<div class="row">-->
  <!--  <div class="col-md-10 col-md-offset-1">-->
  <!--    <p><em>Updated on 8/15/19 - Watch for updates</em></p>-->
  <!--    <p>&nbsp;</p>-->
  <!--  </div>-->
  <!--</div>-->
  
  <p>&nbsp;</p>
  
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4><strong>My Manager</strong></h4>
      <%= render html: my_manager.html_safe %>
    </div>
    
    <div class="col-md-5">
      <h4><strong>Accounts Payable Campaign Parameters</strong></h4>
      <strong>$10M Minimum AP Spend</strong>  Target C-level & Director level Finance Execs (CFO, Controller, AP Director, etc.) at organizations with $50M+ in Revenue or 200+ Employees.
    </div>
  </div>

  <p>&nbsp;</p>
      
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4><strong>Two Sentence Elevator Pitch</strong></h4>
      <p>We help organizations like yours to reduce their Accounts Payable operating costs, by automating 100% of your AP, with multiple forms of electronic payments, and paying ALL suppliers from a SINGLE payment file.  Your suppliers choose how they want to be paid, and your organization gets money back every time you make a payment to those suppliers.</p>

      <ul>
        <p><strong>If scheduling with someone that you know… you might say the following…</strong> "I'm working with a large publicly traded commercial payments provider that's helping organizations like yours to reduce their Accounts Payable operating costs, by automating 100% of your AP, with multiple forms of electronic payments, and paying ALL suppliers from a SINGLE payment file. Your suppliers choose how they want to be paid, and your organization gets money back every time you make a payment to those suppliers.  I'd love to setup a quick call with you and one of the AP experts to share how they do this, and we can hop on a screenshare.  Will you be available (day) at (time)?"</p>
    
        <p><strong>Or shorter version…</strong> "I'm working with a large publicly traded commercial payments provider that's helping organizations reduce their Accounts Payable operating costs and generate revenue back to their company every time they make a payment to their suppliers.  I'd love to setup a quick call with you and one of the AP experts to share how they do this, and we can hop on a screenshare.  Will you be available (day) at (time)?"</p>
      </ul>
    </div>
  </div>

  <p>&nbsp;</p>
  
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4><strong>Sales Tools</strong></h3>
      <li><a href="http://aspirepartners.co/crm_docs/high_level_intro_presentation.pptx">High Level Intro Presentation PPT</a> <em>(with script in presenter notes)</em></li>
      <li><a href="http://aspirepartners.co/crm_docs/High_Level_Intro_Presentation_Script.docx">High Level Intro Presentation SCRIPT</a></li>
      <li><a href="http://aspirepartners.co/crm_docs/About_Priority_CPX.pdf" target="_New">About Priority CPX BROCHURE</a></li>
      <li><a href="http://aspirepartners.co/crm_docs/Turn_Expense_into_Revenue.pdf" target="_New">Turn Expense into Revenue BROCHURE</a></li>
      <li><a href="http://aspirepartners.co/crm_docs/CPX-TheCompleteCommercialPaymentsSolution.pdf" target="_New">CPX - Complete Commercial Payments Solution BROCHURE</a></li>
      <li><a href="http://aspirepartners.co/crm_docs/Break-Into-the_C-Suite.pdf" target="_New">Break Into the C-Suite - GUIDE from Outreach</a></li>      
    </div>
    <div class="col-md-5">
      <h4><strong>Schedule Presentation</strong></h4>
      Schedule a presentation for your client with an expert at Priority Commercial Payments:
        <%= render html: calendly_link.html_safe %>
    </div>
  </div>

  <p>&nbsp;</p>
  
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4><strong>News Articles</strong></h3>
      <li><a href="https://www.forbes.com/sites/agoodman/2017/03/07/new-virtual-credit-cards-for-businesses-eliminating-the-need-for-checks" target="_New">Virtual Cards Eliminating Need for Checks</a></li>
    </div>
    <div class="col-md-5">
      <h4><strong>  </strong></h4>
      
    </div>
  </div>

  <p>&nbsp;</p>
  
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4><strong>Income Goal Calculator</strong></h4>
      You earn 10 basis points on standard virtual card payments and 5 basis points on non-standard.  This is residual income earned on each business, every month, for as long as they are using our virtual card payments platform.</p>
      <p>Enter your income goal below to calculate the estimated total number of employees needed to reach your income goal.</p>
      <script type="text/javascript">
        function computeAPNeeded(){
          var incomeGoalAP = document.getElementById('incomeGoalAP').value;
          var basispoints = 0.0010;
          var enrolledAP = .30;
          var avgClientAP = 50000000;
          var convertedAPNeeded = (incomeGoalAP / basispoints).toFixed(0);
          var totalAPNeeded = (convertedAPNeeded * 3.333333333).toFixed(0);
          var apClientsNeeded = (totalAPNeeded / avgClientAP).toFixed(0);

          document.getElementById('convertedAPResult').innerHTML = "*Estimated Total Converted AP Needed = $"+convertedAPNeeded;
          convertedAPResult = convertedAPResult.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");      
  
          totalAPResult = totalAPResult.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          document.getElementById('totalAPResult').innerHTML = "*Total Estimated AP Needed = $"+totalAPNeeded;
  
          apClientsResult = apClientsResult.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          document.getElementById('apClientsResult').innerHTML = "*Total Estimated Clients Needed = "+apClientsNeeded;
        }
    </script>

    <h4>Annual Income Goal: $&nbsp;<input id="incomeGoalAP" type="number" min="1" max="1000000" onchange="computeAPNeeded()"></h4>
    <h5 id="convertedAPResult"></h5>
    <h5 id="totalAPResult"></h5>
    <h5 id="apClientsResult"></h5>

    <p><font style="font-size: 14px;"><em>* This example assumes an average client has a $50M Annual AP spend, and that we converted 33% to Virtual Card with 100% standard transactions.&nbsp;&nbsp; This is an example only.</em></font></p>

    </div>
    
    <div class="col-md-5">
      <h4><strong>&nbsp</strong></h4>
      &nbsp;
    </div>
  
  </div>


</div>