
<%# if current_user.group == "bc" || current_user.group == "all" %>
  
  <div class="container pages">

    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <p><em>Watch for many updates coming throughout June 2019</em></p>
      </div>
    </div>

      
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <h3>Marketing Videos</h3>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-4by3 clearfix">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/272852660" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
          Shere this link: <a href="https://player.vimeo.com/video/272852660">https://player.vimeo.com/video/320860659</a>
      </div>
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-4by3 clearfix">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/320861285" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        Shere this link: <a href="https://player.vimeo.com/video/320860659" target="_Blank">https://player.vimeo.com/video/320861285</a>
      </div>
    </div>  

    <div class="row">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-4by3 clearfix">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/320860659" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        Shere this link: <a href="https://player.vimeo.com/video/320860659" target="_Blank">https://player.vimeo.com/video/320860659</a>
      </div>
      <div class="col-md-6">
        <!--<div class="embed-responsive embed-responsive-4by3 clearfix">-->
        <!--  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/320861285" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
        <!--</div>-->
        <!--Shere this link: <a href="https://player.vimeo.com/video/320860659" target="_Blank">https://player.vimeo.com/video/320861285</a>-->
      </div>
    </div>
  
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
  
  </div>
  

<%# else %>
  <!--Wrong Group-->
<%# end %>