<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3>References</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <ul>
        <li></li>
      </ul>
    </div>
  
    <div class="col-md-5">
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
