<div class="container pages">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4><strong>Training Videos</strong></h4>
      <br>
    </div>
  </div>


  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/342380630" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div> 

  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/337396254" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div> 

  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/337346213" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div>
  
  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/337349065" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div> 
  
<p>&nbsp;</p>
<hr>
<p>&nbsp;</p>  

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4><strong>Priority Payments Training Videos<strong></h4>
    <br>      
  </div>
</div>



  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/350208795" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div> 
  
   <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/351297984" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div> 

  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/352819470" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div>
  
  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/353994960" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div>

  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/355374452" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div> 

  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/356689801" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div> 

  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/358179546" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div> 

  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/359421552" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div> 

  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/361043862" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div> 
  
  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/362551096" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div>   

  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/364045841" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div>
  
  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/365574966" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div>   

  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 clearfix">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/368642412" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p>&nbsp;</p>
  </div>
  
  <p>&nbsp;</p>

</div>